# Environment Variables & Secrets
.env
.env.*
!.env.example
*.pem
*.key
*.cert
*.cert.pem

# Databases
db.sqlite3
db.sqlite3-journal
*.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# IA
.codex/
.agents/
.agents-server/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Node.js & Angular (Frontend)
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
.npm/

# n8n & Data storage
n8n-data/

# IDEs & OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other / Custom files
doc_understanding.md